name: Build and test
on:
  push:
    # file paths to consider in the event. Optional; defaults to all.
    paths:
      - 'cmake/**'
      - 'examples/**'
      - 'src/**'
      - 'test/**'
      - 'thirdparty/**'
      - '.github/workflows/main.yaml'
      - '!**.md'
  pull_request:
    # file paths to consider in the event. Optional; defaults to all.
    paths:
      - 'cmake/**'
      - 'examples/**'
      - 'src/**'
      - 'test/**'
      - 'thirdparty/**'
      - '.github/workflows/main.yaml'
      - '!**.md'

jobs:
  ubuntu:
    name: Build and test AMD64 Ubuntu ${{ matrix.ubuntu }}
    runs-on: ubuntu-latest
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        ubuntu: [18.04]
    env:
      UBUNTU: ${{ matrix.ubuntu }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare
        run: |
          sh scripts/install_deps.sh
      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake build .. -DBUILD_UNIT_TEST=ON
          make -j
      - name: Lint
        run: |
          cd build
          make lint
          make check-clang-format
          make check-clang-tidy
      - name: Uint Testing
        run: |
          cd build
          make test
